* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: azure;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nome {
    font-size: larger;
    margin-top: 10px;
}

.main {
   display: flex;
   justify-content: space-around;
   font-size: larger;
   
    
}

.footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: end;
    
}
